{% load static %}
<html>
<head>
<title>Secure Sharing of Student's Credentials</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa+One&display=swap" rel="stylesheet">
</head>
<body>

  <div id="menu">
    <ul>
      <li ><a  style="font-family: 'Changa One', cursive; color : #ea9a33; font-size : 30px;" href="{% url 'index' %}" >DApp</a></li>
      <li><a href="{% url 'SendAccessRequest' %}">Send Access Request</a></li>
      <li><a href="{% url 'AccessCertificate' %}">Access Certificate</a></li>
	  <li><a href="{% url 'index' %}">Logout</a></li>
  </ul>
  </div>
  <div id="page">
   <div id="content">
      <div class="post">
        <div class="title">
          <h2>Secure Sharing of Student's Credentials</h2>
         </div>
        <div class="entry">
		 <br/><br/><br/>
<center><font size="40px" color="white">{{ data|safe }}</font></center>
	 
	 <br>

          </div>
        
      </div>
     
       
       
    </div>
    
  </div>

</body>
</html>
